rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite la lectura de cualquier archivo si el usuario está autenticado.
    // Esto es útil para que el arrendador pueda ver los comprobantes del arrendatario.
    match /{allPaths=**} {
      allow read: if request.auth != null;
    }

    // Reglas para la subida de comprobantes de pago.
    match /payment-attachments/{userId}/{fileName} {
      // Solo permite que un usuario cree (suba) un archivo en su propia carpeta.
      // El 'userId' en la ruta debe coincidir con el UID del usuario que hace la solicitud.
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
